
.navbar-div {
    padding-top: 20px;
    background-color: rgb(255, 255, 255);
    height: 70px;
    margin-bottom: 0px;
    -webkit-animation: shadow-drop-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shadow-drop-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    margin-right: 50px;
}

.contact-btn:hover {
    transform: translateY(-0.33em);
}

.contact-btn {
    color: #fff;
    background-color: #22AD80;
    border: 2.5px solid #111;

}

.logo {
    height: 55px;
}

.menu-div {
    margin: 0;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    gap: 150px;
}

.menu-div p:hover {
    color:#7035EC;
}

.menu-div p {
    margin: 0;
    font-weight: 600;
    color: #000;
    cursor: pointer;
}

/* For mobile  */

.menuandlogo {
    display: none;
    -webkit-animation: shadow-drop-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shadow-drop-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.navbar-mobile  {
    display: none;
}

.navbar-mobile2 {
    display: none;
}

@media only screen and (max-width: 600px) {
    
    .navbar-div {
        display: none;
    }

    .navbar-mobile2 {
        display: none;
    }

    .navbarmobile-links {
        display: flex;
        flex-direction: column;
        width: 100%;


        -webkit-animation: tilt-in-top-1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: tilt-in-top-1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    .navbarmobile-links a  {
        -webkit-animation: shadow-drop-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: shadow-drop-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    .navbarmobile-links a:hover {
        color: #7035EC;
    }

    .navbar-mobile {
        display: flex;
        padding-left: 20px;
        height: 28vh;
    }
    
    .menu-icon {
        font-size: 40px;
    }

    .menuandlogo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 20px;
    }

    .menu-div {
        display: flex;
    }

    .logo {
        height: 40px;
    }

    .contact-btn {
        width: 100px;
    }
}


/* WEBKIT  */

@-webkit-keyframes shadow-drop-bottom {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: 0 10px 5px -12px rgba(0, 0, 0, 0.35);
              box-shadow: 0 10px 5px -12px rgba(0, 0, 0, 0.35);
    }
  }
  @keyframes shadow-drop-bottom {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: 0 10px 5px -12px rgba(0, 0, 0, 0.35);
              box-shadow: 0 10px 5px -12px rgba(0, 0, 0, 0.35);
    }
  }
  


  /* For mobile links  */
  @-webkit-keyframes shadow-drop-bottom {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: 0 7px 10px -12px rgba(0, 0, 0, 0.35);
              box-shadow: 0 7px 10px -12px rgba(0, 0, 0, 0.35);
    }
  }
  @keyframes shadow-drop-bottom {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: 0 7px 10px -12px rgba(0, 0, 0, 0.35);
              box-shadow: 0 7px 10px -12px rgba(0, 0, 0, 0.35);
    }
  }


  /* Mobile navbar animation  */
  @-webkit-keyframes tilt-in-top-1 {
    0% {
      -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
              transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
              transform: rotateY(0deg) translateY(0) skewY(0deg);
      opacity: 1;
    }
  }
  @keyframes tilt-in-top-1 {
    0% {
      -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
              transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
              transform: rotateY(0deg) translateY(0) skewY(0deg);
      opacity: 1;
    }
  }
  
  