.homepage-main {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 550px;
  flex-direction: column;

  color: #ffff;

  /* background-color: #e5e5f7; */

  background: radial-gradient(
        87px at calc(100% + calc(87px * 0.866)) 50%,
        #6B3CE0 99%,
        #0000 101%
      )
      0 calc(-5 * 87px / 2),
    radial-gradient(
        87px at calc(100% + calc(87px * 0.866)) 50%,
        #6B3CE0 99%,
        #0000 101%
      )
      calc(-2 * calc(87px * 0.866)) calc(87px / 2),
    radial-gradient(87px at 100% 50%, #7035ec 99%, #0000 101%) 0 calc(-2 * 87px),
    radial-gradient(87px, #6B3CE0 99%, #0000 101%) calc(87px * 0.866)
      calc(-5 * 87px / 2),
    radial-gradient(87px, #7035ec 99%, #0000 101%) calc(87px * 0.866)
      calc(5 * 87px / 2),
    radial-gradient(87px at 100% 100%, #6B3CE0 99%, #0000 101%) 0
      calc(-1 * 87px),
    radial-gradient(87px at 0% 50%, #6B3CE0 99%, #0000 101%) 0 calc(-4 * 87px),
    radial-gradient(87px, #7035ec 99%, #0000 101%) calc(-1 * calc(87px * 0.866))
      calc(-7 * 87px / 2),
    radial-gradient(87px, #6B3CE0 99%, #0000 101%) calc(-1 * calc(87px * 0.866))
      calc(-5 * 87px / 2),
    radial-gradient(87px at 100% 50%, #7035ec 99%, #0000 101%)
      calc(-2 * calc(87px * 0.866)) 87px,
    radial-gradient(87px, #6B3CE0 99%, #0000 101%) calc(-1 * calc(87px * 0.866))
      calc(87px / 2),
    radial-gradient(87px, #7035ec 99%, #0000 101%) calc(-1 * calc(87px * 0.866))
      calc(87px / -2),
    radial-gradient(87px, #6B3CE0 99%, #0000 101%) 0 calc(-1 * 87px),
    radial-gradient(87px, #7035ec 99%, #0000 101%) calc(87px * 0.866)
      calc(87px / -2),
    radial-gradient(87px, #6B3CE0 99%, #0000 101%) calc(87px * 0.866)
      calc(87px / 2) #7035ec;
  background-size: calc(4 * calc(87px * 0.866)) calc(6 * 87px);
}

.home-img {
  height: 500px;
}

.homepage-text {
  margin-top: 0px;
  width: 85%;
  text-align: center;
}

.landing-text {
  font-size: 100px;
  font-family: "DM Sans", sans-serif;
  color: #ffffff;
  line-height: 100px;
  margin-bottom: 0;
  /* text-align: center; */
}

.landing-subtitle {
  font-size: 30px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 10px;
  position: static;
}

.book-btn:hover {
  /* webkit css gotten from portfolio */
  animation: slide-up-down 1s ease-in-out;  

}

.homepagebtn {
  display: flex;
  gap: 20px;
}


@media only screen and (max-width: 1280px) {

  .homepage-text {
    margin-top: 0px;
    width: 70%;
  }
}

@media only screen and (max-width: 992px) {
  .homepage-main {
    height: 750px;
  }
}

@media only screen and (max-width: 885px) {
  .homepage-main {
    padding: 0;
  }
}

@media only screen and (max-width: 768px) {
  .homepage-main {
    padding: 0;
    height: 700px;
  }

  .landing-text  {
    font-size: 80px;
  }

  .homepage-text {
    margin-top: 0px;
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .homepage-main {
    flex-direction: row;
    height: 500px;
  }

  .landing-text {
    font-size: 55px;
    color: #ffffff;
    line-height: 60px;
    margin-bottom: 0;
  }

  .homepage-text {
    margin-top: 0px;
    width: 100%;
  }

  .landing-subtitle {
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 20px;
    position: static;
  }

  .home-img {
    height: 400px;
  }
}

@media only screen and (max-width: 375px) {
  .homepage-text {
    width: 100%;
  }
  
  .landing-text  {
    font-size: 50px;
    line-height: 70px;
    width: 100%;
  }

  .landing-subtitle { 
    font-size: 18px;
  }
}
